
*{
    margin: 0%;
    padding: 0%;

}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2px;
}

p{
    font-family: 'Urbanist', sans-serif;
}

.boxBio{
    display: flex;
    height: 319px;
    padding-top: 88px;
    justify-content: center;
    align-items: center;
    gap: calc(35vw - 5%);
}



.boxVideo{
    position: absolute;
    width: 100%;
    height: auto;
    top: -2%;
    z-index: -1;
    background-color: black;
    opacity: 50%;
}
ul{
  

    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;

}
.BoxBtProjects{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: none;
    display: flex;
    padding: 10px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #212529;

}

.boxLetsTalk{
    color:#212529 ;
font-style: none;
text-decoration: none;
    display: flex;
padding: 5px 11px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 1px solid #000;
}


