
*{
    margin: 0%;
    padding: 0%;

}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2px;
}

p{
    font-family: 'Urbanist', sans-serif;
}
h1, h2, h3{
    font-family: 'Urbanist', sans-serif;

}

.boxBio{
    display: flex;
    height: 319px;
    padding-top: 88px;
    justify-content: center;
    align-items: center;
    gap: calc(35vw - 10%);
}

#boxContent{

 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#boxContent p{
    display: flex;
    width: 150px;
    font-size: 16px;
}
#boxContent h1{
    font-size: 24px;
}



.boxVideo{
    position: absolute;
    width: 100%;
    height: auto;
    top: -2%;
    z-index: -1;
   
   
}
ul{
  

    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;

}
.BoxBtProjects{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-style: none;
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: #212529 ;
    background-color: #212529;

}

.boxLetsTalk{
    color:#212529 ;
font-style: none;
text-decoration: none;
display: flex;
padding: 5px 11px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 1px solid #000

}

.icons{
    width: 24px;
    height: auto;
}

.BoxPrd{
    display: flex;
   
   width: 320;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
}
.boxPr{
    width: 120px;
    height: 160px;
    background-color: red;
}


@media screen and (min-width: 1200px) {
    .boxVideo{
        top: calc(100% -199%);
    }
  }